<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phy.framework.googleauthenticator.mapper.GoogleSecretMapper">
    <resultMap id="BaseResultMap" type="GoogleSecret" >
        <result column="id" property="id" />
        <result column="account" property="account" />
        <result column="issuer" property="issuer" />
        <result column="secret" property="secret" />
        <result column="status" property="status" />
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime" javaType="java.util.Date"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime" javaType="java.util.Date"/>
    </resultMap>

    <select id="findById" resultMap="BaseResultMap">
        select * from google_secret where id = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select * from google_secret order by updatetime desc
    </select>

    <insert id="insert" parameterType="GoogleSecret">
        <selectKey keyProperty="id" resultType="string" order="BEFORE">
            select replace(uuid(), '-', '') as id from dual
        </selectKey>
        insert into google_secret(id, account, issuer, secret, status, createtime, updatetime)  values( #{id}, #{account}, #{issuer}, #{secret}, 1, now(3), now(3))
    </insert>

</mapper>